html {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: black;
  overflow-y: hidden;
  overflow-x: hidden;
}

.canvas {
  margin-right: auto;
  margin-left: auto;
}

.image-container {
  display: none;
}
